* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para o corpo da página */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}
ul {
    list-style: none;
}

/* Estilo para o cabeçalho e a barra de navegação */
a {
    text-decoration: none;
    color: rgb(27, 27, 27);
    font-weight: 600;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: .4s;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 20px; 
}

.nav-links a:hover {
    color: #3a3838;
}

.checkbtn {
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px;
    margin-right: 10px;
    cursor: pointer;
    display: none;
    font-family: 'Roboto', sans-serif; 
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

.nav-bar {
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
    background-color: #0055A2;
}

.navbar-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.navbar-inner img {
    width: 170px;
}

.nav-links {
    display: flex;
    gap: 40px;
}


/* Estilo para a seção principal */
section.momentos {
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.momentos h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #444;
}

section.momentos p {
    margin-bottom: 20px;
}

section.momentos ol {
    list-style: decimal;
    margin-left: 20px;
}

section.momentos li {
    margin-bottom: 20px;
}

section.momentos h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}

section.momentos p strong {
    font-weight: bold;
    color: #000;
}

footer{
    background-color:  #CC2B30;
    margin-top: 90px; 
    padding: 40px;
    
}
/* Estilo para o responsivo */

@media (max-width: 900px) {
    .nav-links a {
        font-size: 16px;
    }

    .navbar-inner img {
        width: 130px;
    }
}

@media (max-width: 760px) {
    .nav-links a {
        font-size: 14px;
    }

    .navbar-inner img {
        width: 100px;
    }
}

@media (max-width: 576px) {
    .nav-links a {
        font-size: 12px;
    }

    .navbar-inner img {
        width: 80px;
    }
}

@media (max-width: 462px) {
    .checkbtn {
        display: block;
    }

    .navbar-inner ul {
        position: fixed;
        width: 300px;
        box-shadow: 0 0 5px grey;
        height: 100vh;
        background-color: #0055A2;
        top: 0;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        z-index: 45;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .nav-links li {
        display: block;
        line-height: 30px;
        padding: 12px 0;
    }

    .nav-links a {
        font-size: 16px;
    }

    .navbar-inner img {
        width: 70px;
    }
}